In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\jayma\Documents\Sound Recordings\Real_CRM_Data.csv")

In [3]:
df.head(3)

,Unnamed: 0,User,Profile Picture,Email Address,Phone Number,Communication History,Company Name,Industry,Deal Stage,Deal Value,Win/Loss Status,Upcoming Tasks,Activity Status,Lead Source,Location,Custom Visuals,Creation Date,Last Updated,User Activity
0,0,Savannah Cortez,https://dummyimage.com/646x621,jennifer06@example.net,(958)861-5017,As order general party. Past close against top...,Turner PLC,Healthcare,Opportunity,50107,Lost,12/30/2023,Ongoing,Yahoo,Spain,6,2/15/2021,12/19/2023,24.0
1,1,John Anderson MD,https://dummyimage.com/22x532,alexthomas@example.org,(981)737-7214,Human must trial family. Break return bill line.,"Anthony, Chen and Harrington",Retail,Opportunity,76552,Lost,1/23/2024,Completed,Other,Jordan,3,8/26/2021,12/20/2023,41.0
2,2,Amy Williams,https://dummyimage.com/619x819,carlabrooks@example.org,976.520.3848,Seek such agreement head whatever effort hear....,"Matthews, Barajas and Harrell",Retail,Opportunity,90696,Lost,1/18/2024,o,X,Tokelau,9,7/15/2022,12/2/2023,88.0

In [4]:
df['Deal Value'].describe()

count      500.000000
mean     52429.746000
std      28858.476527
min       1289.000000
25%      26932.250000
50%      53727.000000
75%      78062.000000
max      99417.000000
Name: Deal Value, dtype: float64

In [5]:
def outliers():
    q1=df['Deal Value'].quantile(0.25)
    q3=df['Deal Value'].quantile(0.75)
    iqr=q3-q1
    lower_limit=q1-1.5*iqr
    upper_limit=q3+1.5*iqr
    (df['User Activity']<lower_limit) | (df['User Activity']>lower_limit)

    outliers=df[(df['User Activity'] < lower_limit) | (df['User Activity'] > upper_limit)]
    if len(outliers)==0:
        print('there are no outliers in data')
    else:
        print(f'no of outliers are {len(outliers)}')
outliers()

there are no outliers in data

In [6]:
df.isnull().sum()

Unnamed: 0               0
User                     0
Profile Picture          0
Email Address            0
Phone Number             0
Communication History    0
Company Name             0
Industry                 0
Deal Stage               0
Deal Value               0
Win/Loss Status          0
Upcoming Tasks           0
Activity Status          0
Lead Source              0
Location                 0
Custom Visuals           0
Creation Date            0
Last Updated             0
User Activity            6
dtype: int64