In [1]:
import pivottablejs

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\jayma\Documents\Sound Recordings\Real_CRM_Data.csv")
df.head(3)

,Unnamed: 0,User,Profile Picture,Email Address,Phone Number,Communication History,Company Name,Industry,Deal Stage,Deal Value,Win/Loss Status,Upcoming Tasks,Activity Status,Lead Source,Location,Custom Visuals,Creation Date,Last Updated,User Activity
0,0,Savannah Cortez,https://dummyimage.com/646x621,jennifer06@example.net,(958)861-5017,As order general party. Past close against top...,Turner PLC,Healthcare,Opportunity,50107,Lost,12/30/2023,Ongoing,Yahoo,Spain,6,2/15/2021,12/19/2023,24.0
1,1,John Anderson MD,https://dummyimage.com/22x532,alexthomas@example.org,(981)737-7214,Human must trial family. Break return bill line.,"Anthony, Chen and Harrington",Retail,Opportunity,76552,Lost,1/23/2024,Completed,Other,Jordan,3,8/26/2021,12/20/2023,41.0
2,2,Amy Williams,https://dummyimage.com/619x819,carlabrooks@example.org,976.520.3848,Seek such agreement head whatever effort hear....,"Matthews, Barajas and Harrell",Retail,Opportunity,90696,Lost,1/18/2024,o,X,Tokelau,9,7/15/2022,12/2/2023,88.0

In [3]:
from pivottablejs import pivot_ui

In [4]:
pivot_ui(df)